@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.background');
  color: theme('colors.white');
  background-image: radial-gradient(theme('colors.card') 1px, transparent 1px);
  background-size: 20px 20px;
}
